<!-- bootstrap grid card -->
<div id="assign-btn-container" style="display: none;">
</div>

<div id = "add-task-container"class="add-item-container" onload="onInit()">
    <div>
        <h4>Add Task</h4>
        <p class="sub-title">Learning Management System</p>
    </div>
    <div class="bg-item p-4">
        <div class="row">
            <div class="col">
                <span class="field-title">Title</span>
                <input  id="title" type="text" class="form-control my-2" placeholder="What do you want to get done?"
                    aria-label="First name">
            </div>
            <div class="col">
                <span class="field-title">Due Date</span>

                <div><input type="date" id="date" class="my-2 form-control" name="trip-start"  min="2022-01-01"
                        max="9999-12-31"></div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="field-title">Department</span>
                <div><select id="department"
                        class="btn btn-outline-secondary dropdown-toggle my-2 dropdown-style selection-colors"
                        type="button" aria-expanded="false" placeholder="Select">
                        <option class="selection-colors" value="Management">Management</option>
                        <option class="selection-colors" value="Controlling">Controlling</option>
                        <option class="selection-colors" value="Finance">Finance</option>
                        <option class="selection-colors" value="IT">IT</option>
                        <option class="selection-colors" value="Web">Web</option>
                    </select></div>
            </div>

            <div class="col">
                <span class="field-title">Urgency</span>
                <div><select id="urgency"
                        class="btn btn-outline-secondary dropdown-toggle my-2 dropdown-style selection-colors"
                        type="button" aria-expanded="false" placeholder="Select">
                        <option class="selection-colors" value="high">High</option>
                        <option class="selection-colors" value="medium">Medium</option>
                        <option class="selection-colors" value="low">Low</option>
                    </select></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="field-title">Description</span>
                <div class="form-group">
                    <textarea id="description" class="form-control" id="exampleFormControlTextarea1" rows="6"
                        placeholder="Describe your task as detailed as possible!"></textarea>
                </div>
            </div>
            <div class="col">
                <div class="assigned-to">
                    <span class="field-title">Assigned to</span>
                    <div class="img-container  my-4">
                        <div id="assigned-to-container">
                          
                        </div>

                        <img id="assign-btn" type="button" class="add-assignment mx-3" src="./../../img/plus-6-64.ico" onclick="openAssignEmployeeDropdown()">
                    </div>
                </div>
                <div class="cc-buttons my-2">
                    <button onclick="closeAddTasks()" id="cancel-btn" class="btn-style">Cancel</button>
                    <button onclick="createTask()" id="create-btn" class="btn-primary">Create Task</button>
                </div>
            </div>
        </div>
    </div>
</div>