<img onclick="openCloseMenu()" title="Open/Close" class="menu-button bg-primary" src="./../../img/menu.png">
<div id="navbar-container" class="navbar-sort bg-primary">
    <!-- background color and positions -->
    <div class="logo-top">
        <img src="./img/logo.png">
    </div>
    <nav class="nav flex-column nav-link-sort">
        <a class="nav-link" href="#">Board</a>
        <a class="nav-link" href="#">Back Log</a>
        <a class="nav-link" href="#">Add Task</a>
        <a class="nav-link" href="#">Help</a>
    </nav>
    <div class="img-bottom-sort">
        <img src="./img/homer.jpg">
    </div>
</div>