
<div id="navbar-container" class="navbar-sort bg-primary">
    <!-- background color and positions -->
    <div class="logo-top">
        <img src="./img/logo.png">
    </div>
    <nav class="nav flex-column nav-link-sort">
        <a onclick="openBoard()" class="nav-link" href="#">Board</a>
        <a onclick="openBackLog(initBacklog())" class="nav-link" href="#">Back Log</a>
        <a onclick="openAddTasks()" class="nav-link" href="#">Add Task</a>
        <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" class="nav-link" >Help</a>
    </nav>
    <div class="img-bottom-sort">
        <img src="./img/homer.jpg">
    </div>
</div>