<div id="details-content" class="action-for-backlog d-none">
    <div  class="action-for-backlog-content">
        <div class="class-flex-row">
            <h4 style="margin-right: 16px;">Title: </h4><h4 id="title-details"></h4>
        </div>
        <div class="class-flex-row">
            <p style="margin-right: 16px;"><b>Assigned to: </b></p><p id="assigned-to-details"></p>
        </div>
        <div class="class-flex-row">
            <p style="margin-right: 16px;"><b>Department: </b></p><p id="department-details"></p>
        </div>
        <div>
            <p><b>Description: </b></p><p id="description-details"></p>
        </div>
        <div style="margin-bottom: 32px;">
            <h5>Choose a Department if you want to change it:</h5>
            <div id="change-department">

            </div>
        </div>
        <div id="add-to-backlog-btn">
            
        </div>
    </div>
</div>

<div class="backlog-sort-bg">


    <div class="backlog-headline">
        <h3>Backlog</h3>
    </div>

</div>
<div class="backlog-content">

    <table>
        <thead>
            <th class="img-assigned-sort"></th>
            <th>ASSIGNED TO</th>
            <th>Department</th>
            <th>DETAILS</th>
        </thead>
        <tbody id="add-table-content">




        </tbody>
    </table>


</div>

</div>