.start-screen-bg{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.start-screen img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 16px;
}

@media(max-width: 500px){

    .start-screen img{
        height: 100%;
    }

}