@media(max-width:1200px){

    .board-site {
        min-height: 100vh;
        width: calc(100wh - 200px);    
        background-color: white;   
        margin-left: 0px;
        padding-right: 10px !important;
    }


    .legend-pane {
        display: none !important;
    }
    

    .sections-container{
        margin-top: 52px;
        display: flex;
        flex-direction: column !important;
    }
    
}