<div id="board-dialog" class="board-dialog p-5 d-none" onclick="doCancel()">

   <!-- <div class="dialog-content d-flex flex-column justify-content-between">

      <div id="dialog-headline">
         <div class="d-flex justify-content-start border px-1 rounded-top border-info bg-info text-black">
           MOVE TO
         </div>
      </div>      

      <div class="dialog-button-area d-flex flex-column justify-content-around py-2" >
         <div class="cancel-button d-flex border border-dark py-2 px-4 m-2 rounded" id="button-cancel" onclick="changeSection(id,'todo')">TO DO</div>      
         <div class="cancel-button d-flex border border-dark py-2 px-4 m-2 rounded" id="button-cancel" onclick="changeSection(id,'inprogress')">IN PROGRESS</div>      
         <div class="cancel-button d-flex border border-dark py-2 px-4 m-2 rounded" id="button-cancel" onclick="changeSection(id,'testing')">TESTING</div>               
         <div class="cancel-button d-flex border border-dark py-2 px-4 m-2 rounded" id="button-cancel" onclick="changeSection(id,'done')">DONE</div>     
         <div class="cancel-button d-flex border border-dark py-2 px-4 m-2 rounded" id="button-cancel" onclick="doCancel()">Cancel</div>      
      </div>
      
    </div> -->

   <!-- <h5>Color Code</h5>
   <p>
      On the left site of the task-item represents a colored vertical bar the urgency of the task:
   </p>
   <div>
      <div class="d-flex align-items-center">
         <div class="ltl-field urgency-color-high border border-dark rounded"></div>
         <div> = high</div>
      </div>

      <div class="d-flex align-items-center">
         <div class="ltl-field urgency-color-medium border border-dark rounded"></div>
         <div> = medium</div>
      </div>

      <div class="d-flex align-items-center">
         <div class="ltl-field urgency-color-low border border-dark rounded"></div>
         <div> = low</div>
      </div>

   </div> -->

</div>