<div class="board-site d-flex px-5 bg-primary">
    <!-- <h1>ü1</h1> -->
    <div class="container mx-1 my-5 bg-info rounded">
        <h3>TO DO</h3>
        <div class="todo-section container h-100" id="todo-section" ondrop="moveTo('todo')" ondragover="allowDrop(event)"></div>
    </div>
    <div class="container mx-1 my-5 bg-info rounded">
        <h3>IN PROGRESS</h3>
        <div class="inprogress-section container h-100" id="inprogress-section" ondrop="moveTo('inprogress')" ondragover="allowDrop(event)"></div>
    </div>
    <div class="container mx-1 my-5 bg-info rounded">
        <h3>TESTING</h3>
        <div class="testing-section container h-100" id="testing-section" ondrop="moveTo('testing')" ondragover="allowDrop(event)"></div>
    </div>
    <div class="container mx-1 my-5 bg-info rounded">
        <h3>DONE</h3>
        <div class="done-section container h-100" id="done-section" ondrop="moveTo('done')" ondragover="allowDrop(event)"></div>
    </div>

</div>