<div class="board-site d-flex px-5 bg-primary">
    <!-- <h1>ü1</h1> -->
    <div class="width-columns container mx-1 my-5 bg-info rounded">
        <h3>TO DO</h3>
        <div class="todo-section" id="todo-section"></div>
    </div>
    <div class="width-columns container mx-1 my-5 bg-info rounded">
        <h3>IN PROGRESS</h3>
        <div class="inprogress-section" id="inprogress-section"></div>
    </div>
    <div class="width-columns container mx-1 my-5 bg-info rounded">
        <h3>TESTING</h3>
        <div class="testing-section" id="testing-section"></div>
    </div>
    <div class="width-columns container mx-1 my-5 bg-info rounded">
        <h3>DONE</h3>
        <div class="done-section" id="done-section"></div>
    </div>

</div>